# carthage bootstrap [RepositoryName] --no-use-binaries --platform ios --cache-builds
# or (beware!)
# carthage update [RepositoryName] --no-use-binaries --platform ios  --cache-builds
github "jrendel/SwiftKeychainWrapper" ~> 3.0
